<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Django Screencasts - GoDjango.com{% endblock %}</title>
  </head>
  <body>
    <div class="container">
      <div class="row header-content">
        <header>
        <div class="span8">
          <div class="page-header">
            <h1>GoDjango <small>Going Through Django Screencasts</small></h1>
          </div>
        </div>
        <div class="span3 offset1">
          <div class="right-header-content">
            {% if user.is_authenticated %}
              Hello <a href="{% url "dashboard" %}">{{ user.username }}</a>, <a href="{% url 'logout' %}">logout</a>
            {% else %}
            <a href="{% url 'socialauth_begin' 'facebook' %}">Login with facebook</a>
            {% endif %}
          </div>
        </div>
        </header>
      </div>
      <div class="row header-content">
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li class="nav-home">
                <a href="{% url "index"  %}">Browse Videos</a>
                </li>
                <li class="nav-about"><a href="{% url "about" %}">About GoDjango</a></li>
                <li class="nav-feedback"><a href="{% url "feedback" %}">Feedback</a></li>
                {% if not user.customer.has_active_subscription %}
                <li class="nav-pro"><a href="{% url "subscribe" %}">Go Pro</a></li>
                {% endif %} 
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row content">
      </div>
      <div class="row">
        <footer>
          <h5>test django facebook</h5>
        </footer>
      </div>
    </div>
  </body>
</html>